/*-----------------------------------------*/
/* BASIC SETUP */
/*-----------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16   px;
}

/*-----------------------------------------*/
/* REUSABLE COMPONENTS */
/*-----------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto 10px;
}

.row:after {
    content:"";
    display:table;
    clear: both;
}

.col {
    display: block;
    float: left;
}

.span-1-of-4 {
	width: 23.8%;
    text-align: right;
}

.span-3-of-4 {
	width: 74.6%; 
}

form {
    width: 720px;
}
fieldset {
    border: 10px solid yellow;
    margin-bottom: 10px;
    background-color: lightyellow;
}

label {
    margin-right: 15px;
}

label:hover { font-size:20px }

span {
    display: inline-block;
    width: 8%;
    color: #fff;
    text-align: center;
}

.red {
    background-color: darkred;
}

.purple {
    background-color: purple
}

textarea {
    width: 360px;
    height: 50px;
}
