  .yellow-field {
    width: 720px;
    background: lightyellow;
    border: solid yellow 10px;
    margin-bottom: 10px;
  }

  label {
    width: 180px;
    height: 25px;
    text-align: right;
    display: inline-block;
  }

  textarea {
    width: 360px;
    height: 50px;
  }

  div {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 20px;
  }

  label:hover { font-size:20px }

  #red {
    color: white;
    background-color: red;
  }

  #purple {
    color: white;
    background-color: purple;
  }

  #preview {
    width: 100%;
    height: 100%;
  }
