@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Raleway", sans-serif;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	background-color: hsla(1, 0%, 14%, 1);
}

.navbar div {
	line-height: 50px;
	font-size: 0.9em;
	margin-left: 30px;
	color: white;
}

.navbar div:nth-child(1) {
	margin-left: 15%;
}

.main {
	background: url("images/bg.jpg") no-repeat center center scroll;
	background-size: cover;
	height: 800px;
}

.main h1 {
	text-align: center;
	padding-top: 100px;
	color: hsla(1, 0%, 14%, 1);
	font-size: 3.5em;
	line-height: 80px;
}

.main div {
	text-align: center;
	background-color: hsla(1, 0%, 14%, 1);
	width: 250px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	font-size: 1.3em;
	line-height: 50px;

}

.lib {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	align-items: stretch;
	justify-content: space-around;
}

.lib>div {
	width: 200px;
	margin-top: 100px;
	text-align: center;
	border: 1px solid white;
} 

.lib>div * {
	margin-top: 15px;
}

.lib>div *:nth-child(4) {
	margin-top: 50px;
	width: 100%;
	line-height: 50px;
	border: 1px solid hsla(1, 0%, 14%, 1);
	font-size: 0.7em;
}

.lib>div img {
	width: 50px;
	height: 50px;
}

.footer {
	margin-top: 100px;
	height: 100px;
	background-color: hsla(1, 0%, 14%, 1);
	padding: 40px 0 0  10%;
	color: white;
	font-size: 0.8em;
}

.navbar div:hover, .main div:hover, .lib div div:hover {
	cursor: pointer;
}

@media screen and (max-width: 420px) {
	.navbar div:nth-child(1) {
		margin-left: 30px;

	}
	.main h1 {
		font-size: 2.7em;
	}
}