    <div class="container" ng-controller="DishDetailController">
        <div class="row row-content">
        	<button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">Back to Menu</button>
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img ng-src={{dish.image}} alt="Image" class="media-object img-thumbnail" ng-src="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}} 
                            <span class="label label-danger">{{dish.label}}</span> 
                            <span class="badge">{{dish.price}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1">
                <h4>Customers Comments:   <small>Sort by:  </small><input type="text" ng-model="sortBy"></h4>
                <blockquote ng-repeat="cmt in dish.comments | orderBy:sortBy">
                    <p>{{cmt.rating}} Stars</p>
                    <p>{{cmt.comment}}</p>
                    <footer>{{cmt.author}}, {{cmt.date | date:"MMM, dd, yyyy"}}</footer>
                </blockquote>
            </div>
            <div class="col-xs-11 col-xs-offset-1" ng-controller="CommentController">
                <div ng-show="cmtForm.comment.$valid">
                    <blockquote>
                        <p>{{cmtStatus.rating}} Stars</p>
                        <p>{{cmtStatus.cmt}}</p>
                        <footer>{{cmtStatus.name}}, </footer>
                    </blockquote>
                </div>
                <form class="form-horizontal" role="form" name="cmtForm" ng-submit="sendComment()" novalidate>
                    <div class="form-group" ng-class="{'has-error': cmtForm.yourName.$invalid && !cmtForm.yourName.$pristine}">
                        <label for="your_name" class="control-label col-xs-2">Your Name</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" id="your_name" name="yourName" placeholder="Enter Your Name" ng-model="cmtStatus.name" required>
                            <span ng-show="cmtForm.yourName.$invalid && !cmtForm.yourName.$pristine" class="help-block">Your name is required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">Number of Stars</label>
                        <div class="col-xs-10">
                            <div class="radio-inline"><label for="starOption1"><input type="radio" name="starOptions" id="starOption1" ng-model="cmtStatus.rating" value="1">1</label></div>
                            <div class="radio-inline"><label for="starOption2"><input type="radio" name="starOptions" id="starOption2" ng-model="cmtStatus.rating" value="2">2</label></div>
                            <div class="radio-inline"><label for="starOption3"><input type="radio" name="starOptions" id="starOption3" ng-model="cmtStatus.rating" value="3">3</label></div>
                            <div class="radio-inline"><label for="starOption4"><input type="radio" name="starOptions" id="starOption4" ng-model="cmtStatus.rating" value="4">4</label></div>
                            <div class="radio-inline"><label for="starOption5"><input type="radio" name="starOptions" id="starOption5" ng-model="cmtStatus.rating" value="5" ng-checked="true">5</label></div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{'has-error': cmtForm.comment.$invalid && !cmtForm.comment.$pristine}">
                        <label for="comment" class="control-label col-xs-2">Your Comments</label>
                        <div class="col-xs-10">
                            <textarea name="comment" id="comment" rows="10" class="form-control" ng-model="cmtStatus.cmt" required></textarea>
                            <span class="help-block" ng-show="cmtForm.comment.$invalid && !cmtForm.comment.$pristine">Your comments are required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sub-btn" class="control-label col-xs-2"></label>
                        <div class="col-xs-10">
                            <button class="btn btn-primary" id="sub-btn" type="submit" ng-disabled="cmtForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
